In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:supermohit@localhost:5432/postgres')
# 'postgresql://user:password@hostname/database_name'

In [2]:
makes = pd.read_csv(r'C:\Users\Admin\Downloads\backend_exercise\data\data\makes.csv', error_bad_lines=False)
makes.columns = [c.lower() for c in makes.columns] #postgres doesn't like capitals or spaces
makes.dtypes

id            object
name          object
active        object
created_at    object
updated_at    object
dtype: object

In [6]:
makes[["created_at", "updated_at"]] = makes[["created_at", "updated_at"]].apply(pd.to_datetime)

In [8]:
makes.to_sql("makes", engine)

In [9]:
models = pd.read_csv(r'C:\Users\Admin\Downloads\backend_exercise\data\data\models.csv', error_bad_lines=False)
models.columns = [c.lower() for c in models.columns] #postgres doesn't like capitals or spaces
models.dtypes

id            object
name          object
active        object
make_id       object
created_at    object
updated_at    object
dtype: object

In [10]:
models[["created_at", "updated_at"]] = models[["created_at", "updated_at"]].apply(pd.to_datetime)

In [11]:
models.to_sql("models", engine)

In [12]:
cars = pd.read_csv(r'C:\Users\Admin\Downloads\backend_exercise\data\data\cars.csv', error_bad_lines=False)
cars.columns = [c.lower() for c in cars.columns] #postgres doesn't like capitals or spaces
cars.dtypes

b'Skipping line 115: expected 14 fields, saw 16\nSkipping line 753: expected 14 fields, saw 15\nSkipping line 992: expected 14 fields, saw 16\nSkipping line 1355: expected 14 fields, saw 15\nSkipping line 1492: expected 14 fields, saw 15\nSkipping line 1704: expected 14 fields, saw 15\nSkipping line 2331: expected 14 fields, saw 15\nSkipping line 2388: expected 14 fields, saw 15\nSkipping line 2455: expected 14 fields, saw 15\nSkipping line 2657: expected 14 fields, saw 16\n'

id                 object
active             object
year                int64
mileage           float64
price             float64
make_id            object
model_id           object
submodel_id        object
body_type          object
transmission       object
fuel_type          object
exterior_color     object
created_at         object
updated_at         object
dtype: object

In [13]:
cars[["created_at", "updated_at"]] = cars[["created_at", "updated_at"]].apply(pd.to_datetime)

In [14]:
cars.to_sql("cars", engine)

In [15]:
submodels = pd.read_csv(r'C:\Users\Admin\Downloads\backend_exercise\data\data\submodels.csv', error_bad_lines=False)
submodels.columns = [c.lower() for c in submodels.columns] #postgres doesn't like capitals or spaces
submodels.dtypes

id            object
name          object
active        object
model_id      object
created_at    object
updated_at    object
dtype: object

In [16]:
submodels[["created_at", "updated_at"]] = submodels[["created_at", "updated_at"]].apply(pd.to_datetime)

In [17]:
submodels.to_sql("submodels", engine)